.all_page_layout{
    background-image: url(i/2.jpg);
    font-family: 'Proxima', 'Arial', sans-serif;
    /* opacity: 0.5; */
    background-color: #1b3d3c25;
    margin: 0px;

}
.menu_and_shopping_basket_layout{
    float: left;
    margin: 5px 15px 0px 0px;
    display: flex;
    flex-direction: column;
}
.shopping_basket_style{
    background-color: #fbbe18d7;
    width: 290px;
    /* height: 300px; */
    border-radius: 10px;
    margin-top: 20px;
}
.shopping_basket_pic_style{
    width: 290px;
    border-radius: 10px 10px 0px 0px;
}

.list_products{
    width: auto;
    display: flex;
    border-radius: 10px;
}
.list_menu{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    width: 290px;
    margin: 0px;
}
.list_menu_2{
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    text-decoration: none;
    color: black;

}
palitra{
    color: #fbbe18;
    color: #e94a54;
    color: #e5194a;
    /* color: #2025a; */
}
.menu_type{
    border-radius: 10px;
    background-color: white;

}
.active{
    background-color: #fbbe18;
    border-radius: 10px;
    color: #e94a54;

}
.right_text_active{
    background-color: #e94a54;
    border-radius: 10px 0px 0px 10px;
    color: white;
}
.card_product{
    text-align: center;
    width: 240px;
    height: auto;
    margin: 10px 10px 70px 10px;
    height: 480px;
}
.logo_market{
    align-items: center;
}
.product_icon_position{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    z-index: 102;
}
.ingredient_product_icon{
    box-sizing: content-box;
    border: 10px solid #fbbe18;
    border-radius: 100%;
    background-color: #fff;
    width: 180px;
    height: 180px;
}
.product_icon{
    box-sizing: content-box;
    border: 10px solid #fbbe18;
    border-radius: 100%;
    background-color: #fff;
    box-sizing: content-box;
    max-width: 220px;
    max-height: 220px;
}
.name_product{
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.ingredients{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    height: 50px;

}
.description_border{
    border-bottom: 1px dashed #000080;
    font-weight: 600;
    color: #000080;
    cursor: pointer;


}
.price_item{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e5194a;
    font-weight: 600;

}
.buy_basket{
    background-color: #fbbe18;
    border-radius: 50px;
    font-size: 17px;
    border: none;
    padding: 5px;
    width: 130px;
    margin-top: 10px;
}
.button_minus{
    border: none;
    border-radius: 100%;
    background-color: white;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-right: 10px;
}
.button_plus{
    border: none;
    border-radius: 100%;
    background-color: white;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-left: 10px;
}
.quantity_product{
    border: none;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    width: 80px;
}
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;}

.cards_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category_name{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.category_name_style{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.checkout_style{
    background-color: #e5194a;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}
.order_price{
    display: flex;
    justify-content: center;
    padding: 55px;
    font-weight: 600;
}
.checkout_position{
    display: flex;
    justify-content: center;
}
.dialog_box_scale{
    width: 1000px;
    /* height: 1000px; */
    padding: 0px;
    border-radius: 10px;
    background-color: aqua;
    border-style: none;

}
.style_dialog_box{
    background-color: #fbbe18;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
}
.style_dialog_head_text{
    font-size: 30px;
    padding-top: 5px;
    color: white;
}
.style_head_text{
    display: flex;
    justify-content: center;
}
.style_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: 1240px;
}
.style_text_menu{
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}
.style_dialog_text_menu{
    background-color: white;
    border-radius: 15px;
    
}
.justify_content_text_menu{
    display: flex;  
    justify-content: space-around;
    margin: 15px;
}
.social-link {
    margin-right: 30px;
    color: #bbb;
  }
.target{
    cursor: pointer;
}
.closeButton{
    margin-top: -30px;
    height: 25px;
    color: white;
    border: none;
    background-color:#fbbe18;
    float: right;

}
.card_ingredient_style{
    /* background-color: #fbbe18; */
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}
.card_ingredient_title{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
.card_ingredient_price{
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
    color: #e5194a;
    font-size: 20px;
    width: 150px;
    margin: auto;
}
.card_product_style{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}
.button_next_style{
    border: none;
    float: right;
    background-color: #e94a54;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
    height: 35px;
    font-weight: 600;
}
.ingridient_icon_size{
    /* margin: 40px 0px 0px 16px; */
    width: 165px;
}
.price_text_style{
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color:#e94a54;
}